{<<"app">>,<<"wallaby_fill_form">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Simplify form filling with Wallaby">>}.
{<<"elixir">>,<<"~> 1.4">>}.
{<<"files">>,[<<"lib/fill_form.ex">>,<<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Docs">>,<<"https://hexdocs.pm/wallaby_fill_form/">>},
  {<<"GitHub">>,<<"https://github.com/thoughtbot/wallaby_fill_form">>},
  {<<"Made by thoughtbot">>,
   <<"https://thoughtbot.com/services/elixir-phoenix">>}]}.
{<<"maintainers">>,[<<"Josh Steiner">>]}.
{<<"name">>,<<"wallaby_fill_form">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"wallaby">>},
   {<<"name">>,<<"wallaby">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.19">>}],
  [{<<"app">>,<<"phoenix_html">>},
   {<<"name">>,<<"phoenix_html">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.10">>}]]}.
{<<"version">>,<<"0.1.0">>}.
